@import "../../utils/styles";

.mainContainer {
  display:flex;
  flex-direction:column;
}

.leftContainer {
  display:flex;
  max-width: 300px;
  flex-direction:column;
  align-items: center;
}

.rightContainer{
  color:#999999;
  max-width: 300px;
  padding-left: 150px;
  font-size:19px;
}

.lowerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  font-size: 33px;
}

.header2 {
  font-size: 25px;
  margin: 20px 0;
}

.hero {
  height:300px;
}

.welcomeMessage{
  line-height:1.3;
  color: #999999;
  width:310px;
  text-align: center;
  margin: 20px 0;
}