{
  "presets": [
    "mobx",
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "overrides": [{
    "include": ["./src/server/*", "./src/utils"],
    "exclude": ["*/webpack.config.js"],
    "presets": [
      ["@babel/preset-env", {"targets": {"node": true}}],
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime"]
    ]
  }]
}