.product-title,
.product-name,
.product-desc,
.product-avatar {
  color: black;
  margin: 0 0 12px;
}

.product-wrapper {
  margin: 46px 0;
}

.scaffold-button {
  height: 90px;
  width: 250px;
  padding-bottom: 0;
}
