@import '../../utils/styles';

.ais-Hits-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ais-SearchBox-input {
  padding: 1em 3em;
  width: 100%;
  position: relative;
  background-color: getColor(elephant);
  border: none;
  color: getColor(white);
  height: 50px;
}

.search-input,
.search-input:focus {
  width: 310px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-bottom: -10px;
  padding-left: 22px;
  color: $text-black;
}

.search-wrapper {
  position: relative;
  width: 310px;
}

ul.ais-Hits-list {
  padding: 0;
}

.hit-card {
  height: 100%;
}

.ais-SearchBox-reset svg {
  position: relative;
  right: 0;
  fill: getColor(white);
  background-color: getColor(elephant);
  display: none;
}

.ais-SearchBox-submit svg {
  position: relative;
  right: 0;
  fill: getColor(white);
  background-color: getColor(elephant);
  display: none;
}

.ais-SearchBox-submitIcon path,
.ais-SearchBox-resetIcon path {
  fill: red;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
  visibility: hidden;
}

button.ais-SearchBox-submit {
  border: none;
  position: relative;
  left: 5px;
  bottom: 38px;
  background-color: getColor(elephant);
  display: none;
}

.ais-Hits-item {
  flex: 0 0 100%;
  border-top: 1px solid getColor(denim);
  margin: 0 !important;
}

.product-wrapper {
  padding: 10px;
}

.product-summary {
  display: flex;
  float: right;
}

.product-title,
.product-name {
  padding: 0.5em 1em 1em 0.2em;
}

.product-avatar {
  img {
    border-radius: 25px;
    border: 1px solid getColor(denim);
  }
}

.product-desc {
  color: #1a6bac;
  p {
    width: 25rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.hits-wrapper {
  height: 400px;
  width: 100%;
  padding-right: 2rem;
  overflow: auto;
  margin-top: 16px;
  
  @media (min-width: 580px) {
    padding-right: 60px;
    max-width: 300px;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.searchContainer {
  width: 310px;
}

.svg-icon {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  stroke: #888888;
  stroke-width: 0.5;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #888888;
}

.svg-icon circle {
  stroke: #888888;
  stroke-width: 1;
}
