@import "../utils/styles";

.Nav {
  position: fixed;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 174px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 9px 0px 25px 2px darken($bg-color, 13%);
}

#logoContainer {
  color:$bg-color;
  font-family:"Electrolize";
  padding:5px;
  height: 120px;
  width: 120px;
  font-size:28px;
  font-weight:600;
  border: solid 3px white;
  margin: auto;
  color: $bg-color;
  font-size: 28px;
  font-family: 'Electrolize';
  padding: 4px;
}

.Nav__container {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 174px;
}

.Nav__item_wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-content: center;
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav__item {
  display: flex;
  flex-direction: row;
  padding: 20px 0 30px 10px;
  margin-left: -30px;
  list-style-type: none;
  justify-content: left;
  width: 174px;
}

.Nav__itemPre {
  display: flex;
  flex-direction: row;
  padding: 0px 0 30px 10px;
  margin-left: -30px;
  list-style-type: none;
  justify-content: left;
  width: 174px;
}

.Nav__link {
  display: flex;
  clear: right;
  align-items: center;
  padding-left: 10px;
  color: $beforeNavLinkHover;
  font-family: Raleway;
}

.Nav__link:hover {
  animation: onHoverNavLink 0.6s;
  color: $afterNavLinkHover;
}

.chartNav {
  display: block;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-left: -60px;
  margin-bottom: 12px;
  width: 100%;
  color: rgba(255, 255, 255, 1)
}

.chartNavLinks {
  color:rgba(255, 255, 255, 0.4);
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
}

.chartNavOff {
  display: none;
}

.chartNavLinkSelected {
  color: $afterNavHover;
}

.chartNavLinks:hover {
  animation: onHoverNavItem 0.6s ;
  color: $afterNavHover;
}

.selected {
  color: $afterNavLinkHover;
}