@import "../utils/styles";

.mainContainer {
  display: flex;
  flex-direction: column;
}

.lowerContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: row;

  @media (min-width: 1160px) {
    padding-left: 10px;
  }

  .questionContainer {
    display: flex;
    flex-direction: column;
    width: 420px;
  }
}

@media (min-width: 1160px) {
  .lowerRightContainer {
    margin-left: 50px;
  }
}

.header {
  font-size: 33px;
  font-weight: normal;
  margin: 0;
}

.uploadInput {
  background-color: #f1f6fa93;
  border: 1px solid darken(#f1f6fa93, 20%);
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 190px;
  background-color: #f1f6fa93;
  border: 1px solid darken(#f1f6fa93, 20%);
  border-radius: 5px;
  margin: 15px;

  .optionHeader {
    font-size: 18px;
    margin: 10px;
  }

  .description {
    font-size: 13px;
    width: 130px;
    text-align: center;
    color: #999999;
    margin: 3px;
  }
}

.optionIcon {
  height: 2.5rem;
  width: 2.5rem;
  stroke-width: 1;
  color: #999999;
}

.headerContainer {
  display: flex;
  align-items: center;
  .chevronLeft {
    color: #999999;
    height: 2rem;
    width: 2rem;
    margin-right: 20px;
    cursor: pointer;
  }
}

.searchContainer {
  width: 310px;
}

.question {
  font-size: 23px;
  margin: 10px 0;
  color: #999999;
}

.questionDescription {
  color: #999999;
  margin: 10px 0;
  font-style: italic;
}

label {
  margin: 3px 0;
  font-size: 20px;
}

.navigationContainer {
  display: flex;
  margin-top: 454px;
  width: 36%;
  height: 100px;
  justify-content: flex-end;
  position: absolute;
  button {
    margin: 0 3px;
    background-color: #2b3a42;
    width: 30px;
    height: 30px;
    padding: 0;
    .navIcon {
      height: 1.3rem;
      width: 1.3rem;
    }
  }
}
