@import "../utils/styles";

.mainContainer {
  display: flex;
  flex-direction: column;
}

.lowerContainer {
  align-items: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 580px) {
    flex-direction: row;
  }
}

.header {
  font-size: 33px;
  font-weight: normal;
  margin: 0;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background-color: #f1f6fa93;
  border: 1px solid darken(#f1f6fa93, 20%);
  border-radius: 7px;
  margin: 1rem 2rem;
  cursor: pointer;

  @media (min-width: 580px) {
    margin: 2rem;
    height: 380px;
    width: 380px;
  }
}

.description {
  font-size: 18px;
  text-align: center;
  color: #999999;
  margin: 20px;
  width: 80%;

  @media (min-width: 1160px) {
    width: 200px;
  }
}

.optionIcon {
  height: 5.5rem;
  width: 5.5rem;
  stroke-width: 1;
  color: #999999;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.chevronLeft {
  color: #999999;
  height: 2rem;
  width: 2rem;
  margin-right: 20px;
  cursor: pointer;
}
