@import "../../utils/styles";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

@keyframes whiteCardFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

$m: 0; // margin

$nav-color: rgb(49, 56, 63);
$bg-color: rgb(242, 242, 242);
$body-bg-color: #f6f6f6;
$text-black: #485563;
$text-primary: #e16672;

$body-font: 'Yantramanav', sans-serif;

$box-shadow: 0px 7px 22px 2px darken($bg-color, 3%);

$beforeNavHover: rgba(255, 255, 255, 0.4);
$afterNavHover: rgba(237, 237, 237, 0.9);

$beforeNavLinkHover: rgba(255, 255, 255, 0.6);
$afterNavLinkHover: rgba(237, 237, 237, 1);

.tabTwoThreeHeading {
    font-size: 30px;
    margin-bottom: 10px;
    color: darken($text-black, 2%);
    font-family: 'Oswald', sans-serif;
    padding-left: 8px;
  }

.tabThreeRowFlexContainer {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  animation: whiteCardFadeIn 1s;
}

.whiteCard {
  background-color: rgba(250, 250, 250, 1);
  padding: 20px;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  border-radius: 4px;
  box-shadow: $box-shadow;
  animation: whiteCardFadeIn 1s;
}

.tabThreeSelectionCodeContainer{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
}

.checkBoxPadding {
  padding: 10px;
}

.tabTwoCheckbox {
  margin-right: 8px;
}

.greenCheck {
  color: #9cedaa;
  font-size: 28px;
  margin-right: 2px;
}

#webpackConfigSaveText {
  margin-left: 8px;
  font-family: 'Oswald';
  font-size: 24px;
  color: $text-black;
}
