@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto|Raleway|Cabin|Nobile|Electrolize|Exo+2|Yantramanav|Ubunto+Mono|Quantico|Anton');

$m: 0; // margin

$nav-color: rgb(49, 56, 63);
$bg-color: rgb(242, 242, 242);
$body-bg-color: #f6f6f6;
$text-black: #485563;
$text-primary: #e16672;

$body-font: 'Yantramanav', sans-serif;

$box-shadow: 0px 7px 22px 2px darken($bg-color, 3%);

$beforeNavHover: rgba(255, 255, 255, 0.4);
$afterNavHover: rgba(237, 237, 237, 0.9);

$beforeNavLinkHover: rgba(255, 255, 255, 0.6);
$afterNavLinkHover: rgba(237, 237, 237, 1);

@keyframes onHoverNavItem {
  0%   { color: $beforeNavHover; }
  100% { color: $afterNavHover; }
}

@keyframes onHoverNavLink {
  0%   { color: $beforeNavLinkHover; }
  100% { color: $afterNavLinkHover; }
}

@keyframes whiteCardFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes buttonFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $body-bg-color;
  font-family: $body-font;
}

.CodoBox {
  width: 150px;
}

.app {
  color: black;
}

.fullAppContainer {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}
